In [13]:
# j사 1번 문제풀이
# 컬럼라인, 데이터라인을 입력받아서, 데이터라인중에 age의 max, min, avg, std 을 구하라

# firstly, make a column variable for first line input
columns = list(input().split(', '))

# for the rest, make a blank list, and append lines by iteration
# also split by ', ' to just get values for each lines
list1 = []
n = 3
for _ in range(n):
    list1.append(input().split(', '))
        
print(columns)
print(list1)

name, age, color, country
Yoon, 24, red, usd
Kim, 38, blue, russia
Jung, 99, purple, turkey
['name', 'age', 'color', 'country']
[['Yoon', '24', 'red', 'usd'], ['Kim', '38', 'blue', 'russia'], ['Jung', '99', 'purple', 'turkey']]

In [14]:
# make a dataframe by using pandas 
import numpy as np
import pandas as pd

sol_df = pd.DataFrame(list1, columns=columns)

In [15]:
sol_df.head(3)

   name age   color country
0  Yoon  24     red     usd
1   Kim  38    blue  russia
2  Jung  99  purple  turkey

In [16]:
# all columns are object type, so create a new 'age' column with int type
sol_df.columns

Index(['name', 'age', 'color', 'country'], dtype='object')

In [43]:
# create a new int object 'age' column and name as 'age_int'
sol_df['age_int'] = sol_df['age'].astype(int)

In [44]:
sol_df.head(3)

   name age   color country  age_int
0  Yoon  24     red     usd       24
1   Kim  38    blue  russia       38
2  Jung  99  purple  turkey       99

In [47]:
# use numpy function to print answers
print(np.min(sol_df['age_int']))
print(np.max(sol_df['age_int']))
print(np.round(np.mean(sol_df['age_int']),4))
print(np.round(np.std(sol_df['age_int']),4))

24
99
53.6667
32.5611